th, td {
  border: 1px solid black;
}

.infobox {
  border-collapse: collapse;
  border: 3px solid black;
  width: 400px;
}

body {
  font-family: monospace;
}

.composition-bar {
  height: 20px;
  background-color: #dddddd;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}

.composition-fill {
  height: 100%;
}

.party_list {
  list-style-type: none;
  margin: 0;
  padding-left: 10;
}
